<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javasm.crm.goodsAndGifts.mapper.GoodsToGiftsDao">
	<resultMap id="BaseResultMap" type="com.javasm.crm.goodsAndGifts.entity.GoodsAudit">
   
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="reviewer" jdbcType="VARCHAR" property="reviewer" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="code" jdbcType="INTEGER" property="code" />
  </resultMap>
  
  <select id="getAll" resultMap="BaseResultMap">
       select * from goods_audit
  </select>
  <select id="getAllGoods" resultType="com.javasm.crm.goodsAndGifts.entity.SecondGoods">
		select sid,sname,stype,sbrand,sshoppingprice,sminrepertory,status,code from secondgoods 
  </select>
  <select id="getNewGoodsById" resultType="com.javasm.crm.goodsAndGifts.entity.SecondGoods">
		select sname,stype,sbrand,sshoppingprice,sminrepertory,status,code from secondgoods where sid=#{id}
  </select>
  <insert id="AddAudit" parameterType="com.javasm.crm.goodsAndGifts.entity.GoodsAudit">
	    insert into goods_audit(gname,type,price,number,code,newprice,addgifts,status) value(#{gname},#{type},#{price},#{number},#{code},#{newprice},#{addgifts},"未审核")
  </insert>
  <select id="getGoodsByCode" resultType="com.javasm.crm.goodsAndGifts.entity.GoodsAudit">
        select id,gname,type,price,brand,number,code,newprice,addgifts from goods_audit where id=#{code}
  </select>
  <update id="Update" parameterType="com.javasm.crm.goodsAndGifts.entity.GoodsAudit">
        update goods_audit set addgifts=#{addgifts},newprice=#{newprice} where id=#{id}
  </update>
  <delete id="Delete" parameterType="int">
        delete from goods_audit where id=#{id}
  </delete>
  <select id="SHGZbtn" resultType="com.javasm.crm.goodsAndGifts.entity.GoodsAudit">
        select * from goods_audit where id=#{id}
  </select>
  <select id="SSGoods" resultType="com.javasm.crm.goodsAndGifts.entity.GoodsAudit">
        select * from goods_audit 
        <where>
             <if test="gname !=null and gname !='' " >
                and gname like "%"#{gname}"%"
             </if>
             <if test="type !=null and type !='' ">
                and type like "%"#{type}"%"
             </if>
             <if test="status !=null and status !='' ">
                and status like "%"#{status}"%"
             </if>
        </where>
  </select>
  
  </mapper>